body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: White;
}

.cd-logo,
.picSection1,
.picSection2,
.picSection3 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #642580;
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
  /*opacity: 0.9;*/ /*I don`t want to add it, I think it`s looks bad*/
}

.picSection3 {
  background-image: url("https://images.alphacoders.com/996/thumb-1920-996485.jpg");
}

.picSection2 {
  background-image: url("https://masterpiecer-images.s3.yandex.net/b903b34a7d6f11ee83353a7ca4cc1bdc:upscaled");
}

.picSection1 {
  background-image: url("https://masterpiecer-images.s3.yandex.net/366efdb06f7d11eeaad1f6f8c1ba65ae:upscaled");
}

.cd-logo {
  background-image: url("https://masterpiecer-images.s3.yandex.net/3b385012767f11ee8ab32aa0df1cd6e5:upscaled");
  min-height: 100%;
  background-size: auto;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: white;
  text-align: center;
}

.textSection {
  background-color: #291e89;
  padding: 50px 80px;
  opacity: 0.98;
}

.caption {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.border {
  background-color: #291e89;
  color: White;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  opacity: 0.5;
}

@media only screen and (max-device-width: 1024px) {
  .cd-logo,
  .picSection1,
  .picSection2,
  .picSection3 {
    background-attachment: scroll;
  }
}
