body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}
.container {
  margin-top: 50px;
}
input,
select,
button {
  font-size: 1.2em;
  margin: 10px;
  padding: 10px;
}
button {
  cursor: pointer;
  background-color: #63e810;
  color: white;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: #21b300;
}
