form {
  background-color: #42c5f5;
  width: 50%;
  margin-left: 25%;
  color: #08455c;
}

h2 {
  text-align: center;
  background-color: #42c5f5;
  color:  #08455c;
}
body {
  background-color: lightyellow;
}